.HeaderContainer {
    background-color: var(--colorMainText);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderLogo {
    font-size: 36px;
    cursor: default;
    color: var(--colorAccent1);
}

.HeaderLogoFull {
    transition: opacity 0.25s ease-in, color 0.25s ease-in;
    opacity: 0;
}

.HeaderLogo:hover > .HeaderLogoFull {
    opacity: 1;
}

.HeaderUserPanel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeaderUserPanelAvatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

