:root {
    --colorMainText: #333333;
    --colorExtraText: #757575;
    --colorInputText: #8b94a1;
    --colorDisabled: #cfd0d6;
    --colorSelection: #e8eef8;
    --colorBackground: #f1f2f5;
    --colorAccent1: #68ce55;
    --colorAccent2: #bf2647;
    --colorAccent3: #f1970f;
    --colorAntiMain: #ffffff;
    --colorRouteInactive: #b6b6b6;
    --colorAccent4: #2962ff;
}

/* START: Reset Mapbox styles */
a.mapboxgl-ctrl-logo,
a[href="https://www.mapbox.com/about/maps/"],
a[href="http://www.openstreetmap.org/about/"],
a.mapbox-improve-map {
    display: none;
}

/* END: Reset Mapbox styles */

body {
    font-family: DINNextCYR, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
