@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

:root {
  --colorMainText: #333333;
  --colorExtraText: #757575;
  --colorGreyPopup: #d2d2d2;
  --colorAccent1: #7ceb7e;
  --colorAccent2: #ff4a4a;
  --colorAccent3: #f1970f;
  --colorAccent4: #2962ff;
  --colorAntiMain: #ffffff;
  --colorRouteInactive: #b6b6b6;

  --zIndexCenterMarker: 2;
  --zIndexSearchContainer: 4;
  --zIndexSidebarContainer: 5;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
ul,
input,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input, button {
  border: 0;
  font-family: inherit;
}

button {
  padding: 0;
  background-color: initial;
  cursor: pointer;
}

/* START: Reset Mapbox styles */
a.mapboxgl-ctrl-logo,
a[href="https://www.mapbox.com/about/maps/"],
a[href="http://www.openstreetmap.org/about/"],
a.mapbox-improve-map {
  display: none !important;
}

div.mapboxgl-map {
  font-family: inherit;
}

/* END: Reset Mapbox styles */
